body {background-color: #FFF0F5;}

h1, h2 {text-align: center;}

p {text-align: center;}
.image{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  border-radius: 60%;
}

div {
  padding: 70px;
}
.nav ul {
  list-style: none;
  background-color: #FFE4E1;
  text-align: center;
  padding: 10;
  margin: 10;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #FFE4E1;
}
 
.nav a {
  text-decoration: none;
  color: ##008B8B;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #FFEBCD;
  color: #444;
  cursor: default;
}
